
# Build artifacts
dist/
build/
client/dist/


# For macOS
.DS_Store

# For VS Code
.vscode/


# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Dependency directories
node_modules/

# For both client and server folders
/client/dist
/client/node_modules
/server/node_modules

# Environment variables
.env
.env.local
.env.*.local